<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">
<preference name="phonegap-version" value="2.2.0" />
    <!-- versionCode is optional and Android only -->

    <name>Compass example</name>

    <description>
      Compass example
    </description>

    <author href="https://shafi.com.au" email="support@phonegap.com">
        Abu Shafi
    </author>
	<access origin="http://mosque-finder.com.au" />
	<access origin="http://code.jquery.com" />
	<access origin="https://maps.googleapis.com" />
	
    <plugin name="Storage" value="org.apache.cordova.Storage" />
	<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
	<plugin name="Compass" value="org.apache.cordova.CompassListener" />
</widget>